---
token:
  production: 2331515b912da61a0807c6ac35f5fec078784eac952d93f8a52f0fb585ef8938ea38d11c19d1be693ac2e66d68188c409bff01f983ce1761c34c68542994fe24

smtp_settings:
  address: 'smtp.gmail.com'
  port: 587
  domain: 'gmail.com'
  user_name: 'почта_отправки_результата@gmail.com'
  password: 'пароль'
  authentication: 'plain'
  enable_starttls_auto: true

server1:
  host: "deploy"
  username: "deploy"
  password: "пароль"
  remote_neural_path: "/home/deploy/neural-style"
  init_params: "-gpu -1 -image_size 100"
  iteration_count: 10
  admin_email: "почта_админа@gmail.com"
